services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=postgresql://postgres:0823@db:5432/microservicios
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:18
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=0823
      - POSTGRES_DB=microservicios
    ports:
      - "5433:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d microservicios" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
